[alias]
  s = status
  p = push
  pl = pull
  f = fetch
  ch = checkout
  coa = !git add -A && git commit -m
[user]
  email = hassan.ali@gousto.co.uk 
  name = Hassan
[credential "https://github.com"]
  helper = 
  helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
